
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_OtelLayout.cshtml";
}

<h2>Burası 2 numaralı index sayfası</h2>

<a href="/Default/Index"class="btn btn-warning">Index'e Dön</a> @*DefaultController'ı içerinde bulunan Index sayfasına dön.Sayfalar arası geçiş yapıldı.*@
<br /><br />
<a href="/Default/Index3/" class="btn btn-danger">Index3 Sayfası</a>