
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_OtelLayout.cshtml";
}

<h2>Burası Index sayfasıdır.</h2> @*/verilerin listelendiği sayfa*@
<p>Merhaba Dünya</p>
<a href="/Default/Index2/">Index2 Sayfasını Aç</a> @*default controlleri içerisinde bulunan Index2 sayfasını aç. Sayfalar arası geçiş yapıldı*@

