<div class="map-content-9 mt-lg-0 mt-4">
    <form action="https://sendmail.w3layouts.com/submitForm" method="post">
        <div class="twice-two">
            <input type="text" class="form-control" name="w3lName" id="w3lName" placeholder="Adınız"
                   required="">
            <input type="email" class="form-control" name="w3lSender" id="w3lSender" placeholder="Mail Adresiniz"
                   required="">
        </div>
        <div class="twice">
            <input type="text" class="form-control" name="w3lSubject" id="w3lSubject"
                   placeholder="Konu" required="">
        </div>
        <textarea name="w3lMessage" class="form-control" id="w3lMessage" placeholder="Mesajınız"
                  required=""></textarea>
        <button type="submit" class="btn btn-contact">Mesajı Gönder</button>
    </form>
</div>
